
.idea/pyTecPIV_app.iml
src/main/python/__pycache__/pytecpiv_conf.cpython-38.pyc
src/main/python/__pycache__/pytecpiv_conf.cpython-38.pyc
*.pyc
.idea/misc.xml
*.pyc
.idea/pyTecPIV_app.iml
.idea/misc.xml
src/main/python/__pycache__/pytecpiv_conf.cpython-38.pyc
*.pyc
